* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}


p {
    color: black;
    font-size: 20px;
}


.name {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
    height: 90vh;
}


div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
    text-transform: capitalize;
}


img {
    width: 200px;
    height: 200px;
}


.card {
    padding: auto;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.geral {
    align-items: start;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.moves{
    align-items: start;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 16px;
    max-height: 80vh;
}

.stats{
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 8px;
}